@import "tailwindcss";

@theme {
  /* Değişkenleri burada tanımlıyoruz */
  --color-bg: #FAF7F2;
  --color-text-main: #4A4A4A;
  --color-coral: #F2A191;
  --color-sage: #8EA68B;
  
  --font-sans: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Dark Mode varyantı */
@variant dark (&:where(.dark, .dark *));

/* Dark modda değişkenlerin değerlerini değiştiriyoruz */
.dark {
  --color-bg: #030712;
  --color-text-main: #f9fafb;
  --color-sage: #a3b8a1; /* Dark modda biraz daha açık bir yeşil */
}

@layer base {
  body {
    background-color: var(--color-bg);
    color: var(--color-text-main);
    @apply transition-colors duration-300;
  }
}